@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"); /* fonte importada do google fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh; /* 100% da tela */
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza na tela */
  background: linear-gradient(#fff, skyblue); /* Cor do fundo gradiente */
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background-color: black;
  box-shadow: 0 5px 10px black; /* Adiciona sombra à calculadora */
  outline: rgb(32, 32, 32) 10px solid;
}
.display {
  height: 90px;
  width: 100%;
  outline: none;
  border: solid 0.3;
  text-align: right; /* Texto justificado à direita */
  margin: 50px 0;
  font-size: 40px;
  color: black;
  pointer-events: none;
}
input {
  background: lightgrey;
  border-radius: 9px;
}

.button {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.button button {
  padding: 10px; /* Define preenchimento do botão*/
  border-radius: 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(#e8e8e8, #9b9b9b);
}

.button button:hover {
  transition: 0.5s;
  background: linear-gradient(
    #9b9b9b,
    #e8e8e8
  ); /* Inverte cores para destacar botão */
}

.button button:active {
  transform: scale(0.99);
}

button.opo {
  background: linear-gradient(rgb(80, 79, 79), grey);
}

button.opo:hover {
  background: linear-gradient(
    grey,
    rgb(80, 79, 79)
  ); /* Inverte cores para destacar botão */
}

button.eq {
  background: linear-gradient(#b06803, #a35603); /* Botão de igual */
}

button.eq:hover {
  background: linear-gradient(
    #a35603,
    #b06803
  ); /* Inverte cores para destacar botão */
}
